
.cart{
    border: 1px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

.cart img{
    width: 25%;
}
