
.equipment{
    border-radius: 10px;
    box-shadow: 1px 1px 8px grey;
    padding: 31px;
    background-color: antiquewhite;
}
.btn-add2cart{
    border: 2px solid rgb(1, 179, 179);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: whitesmoke;
}
.btn-add2cart:hover{
    color: rgb(30, 45, 255);
    border: 2px solid tomato;
}