
.main-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.equipment-container{
    margin: 0 25px 25px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.cart-container{
    position: sticky;
    top: 5px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: antiquewhite;
    padding-inline: 2em;
    padding-bottom: 1em;
}
.cart-btn{
    border: 2px solid rgb(1, 179, 179);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
    background-color: whitesmoke;
}
.cart-btn:hover{
    color: rgb(30, 45, 255);
    border: 2px solid tomato;
}

@media screen and (max-width:576px){
    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-inline: auto;
    }
    .cart-container{
        width: 80%;
        margin-inline: auto;
        margin-bottom: 2em;
    }
}
@media screen and (min-width:577px) and (max-width:992px) {
    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-inline: auto;
    }
    .cart-container{
        width: 80%;
        margin-inline: auto;
        margin-bottom: 2em;
    }
}